server:
  port: 8080
  tomcat:
    threads:
      max: 20
    mbeanregistry:
      enabled: true

spring:
  cloud:
    refresh:
      enabled: false
  application:
    name: slow-rest-service-v0

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        all: true
        http.server.requests: true
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    propagation:
      type: b3
  prometheus:
    metrics:
      export:
        step: 5s
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
